/* company ifo css style  */

/* card style  */
.my-card{
    background-image: linear-gradient(to top, rgba(0, 255, 64, 0.74) , rgba(0, 89, 255, 0.267));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.my-card:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 26, 255);
}

/* image style  */
.founder-img{
    border-radius: 50%;
    padding: 10px;
    height: 250px;
    width: 250px;
    background-size: cover;
}

/* title style  */
.title{
    font-size: 17px;
}
.title-text{
    font-weight: 400;
}

/* button style  */
.revenue-btn{
    padding: 5px 20px;
    background-color: white;
    color: rgb(0, 26, 255);
    border-radius: 50px;
    border : none;
    font-weight: 500;
}
.revenue-btn:hover{
    background-color: rgba(0, 26, 255, 0.651);
    color: white;
}

/* icons style  */
.my-icon{
    color: rgba(0, 0, 0, 0.815);
    border-radius: 50px;
    border : none;
    font-weight: 600;
}
.my-icon:hover{
    color: rgba(0, 26, 255, 0.651);
    border-radius: 50px;
    border : none;
}